{% extends 'club/base.html' %}
{% load staticfiles %}

{% block title %} Projects {% endblock %}

{% block body_block %}

<!-- =========================
     PRE LOADER       
============================== -->
<div class="preloader">
  <div id="ip-container" class="ip-container">
    <div class="ip-header">
        <div class="ip-loader">
            <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
                <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
                <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
            </svg>
        </div>
    </div>
</div>
</div>

<header class="header" id="blog">
<!-- STICKY NAVIGATION -->
    <div id="blog-nav" class="navbar bs-docs-nav navbar-fixed-top nav-transparent sticky-navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- LOGO ON STICKY NAV BAR -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>

              <a class="navbar-brand" href="{% url 'cfi:index' %}">

                <img class="mr-1" src="{% static 'images/club/cfi.svg' %}">
                <div class="logo-title">CFI JGEC</div></a>

            </div>
        <!-- NAVIGATION LINKS -->
        <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right main-navigation">
                <li><a href="{% url 'club:index' %}#home">home</a></li>
                <li><a href="{% url 'club:index' %}#services">Motto</a></li>
                <li><a href="{% url 'club:index' %}#about">about</a></li>
                <li><a href="{% url 'club:index' %}#sristi">sristi</a></li>
                <li><a href="{% url 'club:index' %}#portfolio">projects</a></li>
                <li><a href="{% url 'club:index' %}#team">team</a></li>
                <li><a href="#blog">Ideas</a></li>
                <li><a href="{% url 'club:index' %}#contact">contact</a></li>
            </ul>
        </div> <!--END NAVIGATION LINKS -->
    </div> <!-- /END CONTAINER -->
</div> <!-- /END STICKY NAVIGATION -->

    <!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Let your unique Ideas be Recognized</h4>
					  </div>
					  <div class="modal-body">

						  <form id="submit_ideas" method="post" action="." enctype="multipart/form-data">
								{% csrf_token %}
								{{ form2.as_p }}

						  </form>


					  </div>
					  <div class="modal-footer">
						<button id="close_modal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn hvr-bounce-to-right" data-style="expand-left">SUBMIT</button>
					  </div>
					</div>
				  </div>
				</div>
	   <!-- end modal -->
    

<!--page title start-->
<section class="blog-list-title" id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <a href="{% url 'club:index' %}">
                        <h2 style="font-size:30px;" class="blog-page-heading"><span style="font-weight:600;">CFI</span> JGEC</h2>
                    </a>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{% url 'club:index' %}">Home</a></li>
                    <li class="active"><a href="?page=1">Ideas</a></li>
                    <li class="active"><a href="#" data-toggle="modal" data-target="#myModal">Submit Your Idea</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--page title end-->
</header>

    <div class="blog-list">
        <div class="container">
        <div class="row blog-list-wrap">

            {% for blog in blogs %}
            {% if blog.publish %}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- Post -->
                 <div class="all-blog blog-post">
                  <div class="blog-figure blog-list-fig">    
                      <a href="{% url 'club:goto' %}?blog_id={{ blog.id }}">
                          {% if blog.picture %}
                            <img src="{{ blog.picture.url }}" alt="">
                          {% else %}
                            <img src="{% static 'images/dp.jpg' %}">
                          {% endif %}
                      </a>
                  </div>

                  <div class="blog-description">
                    <!-- Post Title -->
                    <div class="row">
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <div class="inline-date"><h5>AUG 05, <b>2015</b></h5></div>
                            <h2 class="blog-post-title"><a href="{% url 'club:goto' %}?blog_id={{ blog.id }}">{{ blog.title }}</a></h2>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <table class="date-num numbers">
                                <tr>
                                    <td><table><tr><td>{{ blog.monthpublished }}</td></tr><tr><td>{{ blog.daypublished }}</td></tr></table></td>
                                    <td class="year"><h2>{{ blog.yearpublished }}</h2></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- Date, Author, Categories, Comments -->
                    <div class="blog-list-item-detail">
                        <a href="#"><i class=" icon_mug"></i> {{ blog.author }}</a>
                        <i class="icon_folder-alt"></i><a href="#" >{{ blog.department }},</a><a href="#"> {{ blog.pass_year }}</a>
                        <a href="#"><i class="icon_comment_alt"></i> {{ blog.views }} views</a>
                    </div>
                    <!-- Post body text -->
                    <div class="blog-list-item-body">
                        <p>
                            {{ blog.content|safe|truncatewords:"50"|linebreaks }}
                        </p>
                       <a href="{% url 'club:goto' %}?blog_id={{ blog.id }}" class="read-more">read more &rarr;</a>
                    </div>
                    <!--/ End Post body text -->
                    </div>
                </div>
                <!--/ End Post -->
            </div>
            <!--/ End col -->
            {% endif %}
            {% endfor %}



                         <!-- Pagination -->
                            <div class="pagination">

                                {% if blogs.has_previous %}
                                    <a href="?page=1"><i class="fa fa-angle-double-left"></i></a>
                                    <a href="?page={{ blogs.previous_page_number }}"><i class="fa fa-angle-left"></i></a>

                                {% endif %}

                                {% for num in blogs.paginator.page_range %}

                                    {% if blogs.number == num %}
                                        <a href="#" class="active">{{ num }}</a>
                                    {% elif num > blogs.number|add:'-3' and num < blogs.number|add:'3' %}
                                        <a href="?page={{ num }}">{{ num }}</a>
                                    {% endif %}

                                {% endfor %}

<!--                                <a class="no-active">...</a>-->

                                {% if blogs.has_next %}

                                    <a href="?page={{ blogs.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                                <a href="?page={{ blogs.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a>

                                {% endif %}

                            </div>
            <!-- End Pagination -->





        </div>
        <!--/ End row -->
    </div>
    <!--/ End container -->
    </div>

{% endblock %}

{% block year %} {{ year }} {% endblock %}